@charset "uff-8";

:root {
    --point-color: #eb212c;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
}

em {
    font-style: normal;
}

section#advertiser_section {
    padding: 0;
}

#advertiser_section {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.aside_left {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
    position: relative;
}

.logo_box {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 150px;
}

.logo_simbol {
    width: 86px;
    height: 86px;
    background: var(--point-color);
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.logo_simbol img {
    width: 80%;
    margin-top: 15px;
}

.logo_txt {
    width: 118px;
    height: 44px;
    display: flex;
    background-position: -9px -77px;
    line-height: 1.2;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    align-items: center;
}

.profile_box {
    position: absolute;
    bottom: 50px;
    height: auto;
    display: flex;
}

.profile_img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #eeeeee;
    margin-right: 15px;
}

.profile_img img {
    width: 100%;
}

.profile_state {
    text-align: left;
}

/************* ad main  *************/

.ad_main {
    background: #fff5f2;
    display: flex;
    flex: 6;
    align-items: center;
    justify-content: center;
}

.ad_main_inner {
    margin: 20px 30px;
    width: 100%;
}

.ad_main_table {
    width: inherit;
    height: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.mo_ad_main_table {
    display: none;
}

/* .total_table css start */
.total_table {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.total_table ul {
    display: flex;
}

.total_table ul li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.total_table ul li span {
    font-size: .9rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    background-color: #eee;
}

.total_table ul li p {
    font-weight: lighter;
    padding: 10px 0;
}

.total_table ul li:nth-child(2) span,
.total_table ul li:nth-child(3) span,
.total_table ul:nth-child(2) li:nth-child(2) p,
.total_table ul:nth-child(2) li:nth-child(3) p,
.total_table ul:last-child li:nth-child(2) p,
.total_table ul:last-child li:nth-child(3) p {
    flex: 3;
    width: 200px;
}

.total_table ul:nth-child(2) li span,
.total_table ul:last-child li span {
    display: none;
}

/* blog_table  */
.blog_table {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.blog_table ul{
    display: flex;
}

.blog_table ul:nth-child(2) span,
.blog_table ul:last-child span {
    display: none;
}

.blog_table ul li {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blog_table ul li span {
    font-size: .9rem;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #eee;
}

.blog_table ul li p {
    padding: 10px 0;
    text-align: center;
}

.blog_table ul li:last-child {
    text-align: center;
}

.blog_table ul li em {
    width: 100%;
    margin-top: 5px;
    display: inline-block;

}




/* .total_table css end */

.ad_main_table h3,
.main_table h3,
.main_table.report h3 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 10px;

}

.ad_main_table table tr th {
    color: #333;
    font-size: 16px;
    padding: 5px;
    background: #eaeaea;
}

.ad_menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 25px 0;
}

.ad_menu .ad_menu_icon {
    background: url(../img/sub/advertiser/ad_icon1.svg) no-repeat center / auto;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}

.ad_menu:nth-child(2) .ad_menu_icon {
    background: url(../img/sub/advertiser/ad_icon2.svg) no-repeat center / auto;
}

.ad_menu:nth-child(3) .ad_menu_icon {
    background: url(../img/sub/advertiser/ad_icon3.svg) no-repeat center / auto;
}

.ad_menu:nth-child(4) .ad_menu_icon {
    background: url(../img/sub/advertiser/ad_icon4.svg) no-repeat center / auto;
}

.ad_menu:nth-child(5) .ad_menu_icon {
    background: url(../img/sub/advertiser/ad_icon5.svg) no-repeat center / auto;
}

.ad_menu .menu_txt {
    font-size: 1.3rem;
    text-align: left;
    color: var(--point-color);
    line-height: 2;
}

.ad_main_table table tr td {
    padding: 6px 0;
    font-size: 14px;
}

#delivery {
    width: 87%;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #d5d5d5;
    outline: none;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.main_table.bloger {
    border-radius: 15px;
    background-color: #fff;
    padding: 10px;
    font-size: 14px;
}

.main_table.bloger table {
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.main_table.bloger table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main_table.bloger table tr th {
    padding: 5px;
    background-color: #eee;
    color: #333;
}

.main_table.bloger table tr td {
    padding: 4px 0;
}

.main_table.report {
    margin-top: 20px;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    height: 300px;
}





/* *************aside_right************* */
.aside_right {
    display: flex;
    flex: 2;
    padding: 30px;
    max-width: 25%;
    width: 100%;
}

.main_table.report h3 {
    display: block;
}

.report_box {
    display: flex;
}

.report_left {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.report_left img {
    width: 70%;
    margin-top: 30px;
}

.report_right {
    width: 50%;
    height: auto;
    margin-top: 30px;
}

.report_right img {
    width: 70%;
}


.search_area {
    width: 100%;
    height: 40px;
    position: relative;
}

.search_area select {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 15px;
    background: #ffd8c9;
    border: none;
    outline: none;
}

.search_area select option {
    padding: 10px;
}

.analy_1 img,
.analy_2 img,
.analy_3 img {
    width: 100%;
    position: relative;
}




.analy_1,
.analy_2,
.analy_3 {
    margin-top: 30px;
}

.analy_1 h3,
.analy_2 h3,
.analy_3 h3 {
    margin-bottom: 10px;
}

.search_area {
    border-radius: 20px;
    overflow: hidden;
}


@media (max-width: 500px) {
    body {
        box-sizing: border-box;
        width: 100%;
    }

    #advertiser_section {
        flex-direction: column !important;
        justify-content: flex-start;
    }

    .ad_menu {
        margin: 13px 0;
    }


    .ad_menu .menu_txt {
        font-size: 1rem;
    }

    .profile_box {
        top: 30px;
        height: 0;
    }

    .logo_box {
        width: 100%;
        height: auto;
        float: right;
        justify-content: flex-end;
        margin-bottom: 30px;
        margin-top: 10px;
        visibility: hidden;
    }

    .logo_simbol {
        width: 30px;
        height: 30px;
    }

    .logo_simbol img {
        margin-top: 5px;
    }

    .ad_menu_box {
        flex-wrap: wrap;
    }

    .ad_menu {
        padding: 0 15px;
    }

    .ad_main_table {
        background: transparent;
        padding: 0;
    }

    .ad_main_inner {
        margin: 10px;
    }

    .ad_main_table table {
        background: #fff;
    }

    .ad_main_table table tr th {
        display: flex;
        width: 50%;
        height: 100%;
        background-color: transparent;
    }

    .ad_main_table table tr:first-child {
        background: #eaeaea;
    }

    .ad_main_table tr td {
        display: flex;
        width: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .ad_main_table table tr {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    /* mobile total_table css start  */
    .total_table {
        border: none;
    }

    .total_table ul{
        margin-bottom: 10px;
    }

    .total_table ul li {
        text-align: center;
        background: #fff;
    }

    .total_table ul li span {
        width: 30% !important;
        text-align: left;
    }

    .total_table ul li p {
        background: #fff;
        width: 100% !important;
    }

    .total_table ul:nth-child(2) li span,
    .total_table ul:last-child li span {
        display: flex;
    }

    .total_table ul {
        flex-direction: column;
    }

    .total_table ul li{
        width: 100%;
    }

    .total_table ul li span {
        float: left;
    }

   /* mo  blog_table css */
   .main_table {
       background: #fff5f2;
       width: 100%;
   }
    .main_table h3 {
        margin-left: 0;
        margin-top: 5px;
    }

    .blog_table {
        border: none;
    }

    .blog_table ul {
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .blog_table ul {
        margin-bottom: 10px;
        background-color: #fff;
    }

    .blog_table ul:nth-child(2) span,
.blog_table ul:last-child span {
    display: flex;
}

    .blog_table ul li span {
        width: 30%;
        float: left;
        text-align-last: left;
    }

    .blog_table ul li:nth-child(2) span {
        height: 40px;
    }

    .blog_table ul li p {
        float: left;
        width: 70%;
    }

    .blog_table ul li em {
        width: unset;
    }

    .blog_table ul li:last-child {
        height: 100%;
    }

    .blog_table ul li:last-child span {
        height: 56px;
    }

    .blog_table ul li:last-child p {
        float: right;
        width: 65%;
    }

    .main_table.report {
        box-sizing: border-box;
        width: 100%;
    }


    .aside_right {
    }





    /* mobile total_table css end */

    .main_table.bloger {
        padding: 0;
        background-color: transparent;
    }

    .main_table.bloger tbody {
        background-color: #fff;
    }

    .report_box {
        display: block;
    }

    .report_left img {
        width: 100%;
    }

    .main_table.report {
        height: auto;
    }

    .report_left {
        width: 100%;
    }

    .report_right {
        width: 100%;
    }

    /* aside_right */
    .aside_right {
        width: 100%;
        max-width: 100%;
        padding: 10px;
        box-sizing: border-box;
        flex-direction: column;
    }

    .aside_right_box {
        width: 100%;
    }

}